*~
*.npy
*.npz
*.pt
*.pdf
data/*
experiments/*
*.pth
*.pkl
test/__pycache__/
.DS_Store

prp
*.pyc
*.pyo

*.ipynb_checkpoints


train_loader_mlpf.pth

*playground.py
junk/

binder/ParticleNet_6
binder/ParticleNet
