.vscode
*~
*.npy
*.npz
*.pt
*.pdf
*.pth
*.pkl
*.pyc
*.pyo
.DS_Store
*.ipynb_checkpoints

prp/
xai4hep/data/*
xai4hep/experiments/*
xai4hep/binder/ParticleNet_6
xai4hep/binder/ParticleNet

xai4hep.egg-info
build
