captum
fastjet
matplotlib
mplhep
# python 3.9 & must install packages via Rosetta2 on x86 not arm for Mac M-chip (for fastjet)
# for torch-cluster better install via conda after the pip installs (e.g. conda install pytorch-cluster -c pyg)
numpy>=1.21.0
pandas
torch>=1.8.0
torch-cluster
torch_geometric
tqdm
